@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  color: #333;
  line-height: 1.6;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  max-width: 100%; 
}

.btn {
  display: inline-block;
  font-weight: bold;
  padding: 10px 25px;
  cursor: pointer;
  color: #222;
  background: transparent;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
}

.btn:hover {
  transform: scale(0.98);
  color: #fff;
  background-color: #222;
  border: 2px #222 solid;
}

.back {
  display: flex;
  color: #fff;
}

.back svg {
  height: 25px;
  width: 25px;
}

.back h3 {
  margin-top: 1px;
  justify-content: end;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "a b";
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.card {
  margin-top: 50px;
  background: #eee;
  padding: 3em;
  line-height: 1.5em;
}

/* Navbar */

.navbar {
  position: fixed;
  padding: 20px 0;
  color: #222;
  width: 100%;
  z-index: 100;
}

.navbar .flex {
  justify-content: space-between;
}

.navbar h1 {
  font-family: "Roboto", sans-serif;
}

/* .navbar ul {
  display: flex;
  gap: 30px;
} */

.burger {
  background: none;
  border: none;
  cursor: pointer;
  align-self: end;
}

.scroll-active {
  position: fixed;
  padding: 20px 0;
  background-color: #222;
  color: #fff;
  width: 100%;
  z-index: 100;
}

.sidebar {
  /* display: none; */
  position: fixed;
  right: -50%;
  background: #222;
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  z-index: 20;
  transition: 800ms;
}

.sidebar-active {
  position: fixed;
  right: 0;
  background: #222;
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  z-index: 20;
  transition: 350ms;
}

.sidebar-out {
  display: none;
  transition: all .5s ease-in;
}

.sidebar-active a {
  color: #fff;
  font-size: 22px;
}

.sidebar-active a:hover {
  border-bottom: 2px solid #fff;
  padding-bottom: 2px;
}

/* Hero */

.hero {
  height: 100vh;
}

.hero img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.hero .grid {
  align-items: center;
}

.hero-text {
  grid-area: b;
}

.hero p {
  margin: 20px 0;
}

/* Products - Cards */

.products {
  margin: 50px 0;
}
.products h1 {
  align-items: center;
}

.products .container {
  margin-top: 45px;
}

.dark {
  font-weight: bold;
  padding: 10px 25px;
  cursor: pointer;
  color: #fff;
  background: #222;
  border: 2px solid #222;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
  margin-right: 5px;
}

.dark:hover {
  background: rgb(0, 0, 0);
}

.products .flex {
  flex-wrap: wrap;
  overflow: visible;
  gap: 30px;
}

/* .ui.cards > .card > .image { */
.products .cards .card .image {
  height: 250px;
  padding: 20px;
  background: #fff;
  margin: auto;
}

.products .cards .card .image img {
  height: 100%;
  max-width: 100%;
  width: auto;
}

.products .content .header {
  height: 48px;
  overflow: hidden;
  margin-bottom: 5px;
}

.products .cards .card .content .description {
  height: 36px;
  margin-bottom: 0px;
  overflow: hidden;
}

.products .cards .card .meta.price {
  margin-bottom: 5px;
  font-size: 18px;
  color: #333;
  font-weight: 600;
}

.products .cards .card .meta.price a {
  font-size: 1.3rem;
  color: #222;
}

/* Product */

.product {
  padding: 120px 0;
}

.product .left {
  border-radius: 5px;
  width: 80%;
}

.product .container {
  border: 2px solid #000;
  border-radius: 5px;
  padding: 50px;
}

/* Cart */

.cart {
  padding: 120px 0;
}

.cart .container {
  border: 2px solid #000;
  border-radius: 5px;
  padding: 50px;
}

.cart .grid {
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "a a a"
    "b b c"
}

.cart-title {
  grid-area: a;
}

.cart-title h1 {
  font-size: 6vh;
}

.cart-column {
  grid-area: b;
  align-self: start;
}

.precheckout {
  grid-area: c;
  align-self: start;
}

.summary {
  background-color: rgb(230, 230, 230);
  border-radius: 5px;
  padding: 40px;
  margin-bottom: 50px;
}

.payment {
  background-color: rgb(230, 230, 230);
  border-radius: 5px;
  padding: 40px;
}

.cart-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
    "a b b d"
    "a c c d";
}

.cart-item .col1 {
  grid-area: a;
  width: 220px;
  height: 250px;
  /* background-color: red; */
}

.cart-item .col2 {
  grid-area: b;
  width: 280px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: blue; */
}

.cart-item .col3 {
  grid-area: c;
  width: 280px;
  height: 190px;
  display: flex;
  /* background-color: yellow; */
}

.cart-item .col4 {
  grid-area: d;
  width: 150px;
  height: 270px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-item .image {
  width: 220px;
  height: 250px;
  padding: 25px;
}

.cart-item .image img {
  height: 100%;
  width: 100%;
}

.qty {
  display: grid;
  height: 40px;
}

.qty .btn { 
  width: 5%;
  height: 80%;
  margin: 0 2px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-b {
  border: 2px solid rgb(106, 106, 106);
  color: rgb(106, 106, 106);
}

.btn-qty {
  border: none;
}

.btn-qty:hover {
  transform: none;
  color: #222;
  background-color: transparent;
  border: none;
  cursor: auto;
}

.col4 .btn {
  width: 30px;
  padding: 2px;
  text-align: center;
  border: none;
}

.col4 .btn svg {
  width: 2.5em;
}

.col4 .btn:hover {
  transform: none;
  background-color: transparent;
  color: #222;
  border: none;
}

.summary h2,
.summary h3,
.summary h5 {
  line-height: 0;
}

.summary-row {
  line-height: 1px;
}

  /* Form */

.methods div {
  display: flex;
  margin-bottom: 5px;
}

.methods input {
  width: 20px;
  height: 20px;
  margin-right: 9px;
  margin-bottom: 5px;
}

.methods h4 {
  margin-top: 0;
  font-weight: normal;
}

.input {
  margin-top: 15px;
}

.input input {
  border: 0;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}

.input button {
  margin-top: 15px;
  width: 100%;
}

textarea {
  border: 0;
  resize: none;
  height: 50%;
  width: 100%;
}

textarea:focus {
  outline: none;
}

.input .addr input  {
  height: 100px;
}

/* Checkout */

.checkout {
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkout .container {
  border: 2px solid #222;
  border-radius: 20px;
  max-width: 600px;
  margin: 0 auto;
  padding: 70px 40px;
}

table th,
table td {
  font-size: 23px;
  text-align: left;
}

.checkout button {
  margin-top: 50px;
  color: white;
}

/* Footer */

.footer {
  padding: 50px 0;
  background-color: rgb(30, 30, 30);
  color: #fff;
  justify-content: center;
}

.footer .flex {
  gap: 80px;
}

/* Tablet */
@media all and (max-width: 1200px) {

  /* Navbar */


  
  /* Cart */

  .cart .container {
    border: none;
  }

  .product .container {
    border: none;
  }

  .cart .grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "a"
      "b"
      "c";
  }

  .cart-title {
    grid-area: a;
  }
  
  .cart-column {
    grid-area: b;
    align-self: start;
  }
  
  .precheckout {
    grid-area: c;
    align-self: start;
  }

}

/* Mobile */
@media all and (max-width: 700px) {
  
  .grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "a"
      "b";
  }

  /* Navbar */

  .sidebar-active {
    width: 40%;
  }
  
  .sidebar-active a {
    font-size: 100%;
  }
  
  /* Hero */
  
  .hero .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "a b b";
  }

  .hero-text {
    grid-area: b;
  }
  
  .hero p {
    margin: 20px 0;
  }

  /* Product */

  .product .left {
    width: 100%;
  }

  .product .container {
    border: none;
    border-radius: 5px;
    padding: 80px;
  }
  
  /* Cart */

  .cart .container {
    /* border: 2px solid #000; */
    /* border-radius: 5px; */
    width: 100%;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
  }

  .cart-title h1 {
    font-size: 5.5vh;
  }

  .cart-column {
    align-self: center;
  }
  
  .cart-item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
      "a"
      "b"
      "c"
      "d";
  }

  .back-btn {
    display: none;
  }
  
  .cart-item .image {
      width: 100%;
      padding: 20px 40px;
  }

  .cart-item .col2 {
    text-align: center;
  }

  .cart-item .col3 {
    height: 50px;
    justify-content: center;
  }
  
  .cart-item .col4 {
    width: 100%;
    height: 50px;
    justify-content: space-evenly;
  }

  .precheckout {
    align-self: center;
  }

  .payment {
    padding: 0;
  }

  .payment-row {
    padding: 30px;
  }

  /* Checkout */

  .checkout {
    height: 130vh;
  }

  .checkout .container {
    width: 80%;
    margin-bottom: 100px;
  }

  /* Footer */
  
  .footer .flex {
    flex-direction: column-reverse;
    gap: 50px;
    align-items: start;
  }

  /* .copyright {
    width: 50%;
  } */

}





