@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

$primaryColor: #222;
$secondaryColor: #fff;

@mixin flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@mixin grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "a b";
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  color: #333;
  line-height: 1.6;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.flex {
  @include flex-box();
}

.grid {
  @include grid();
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $secondaryColor;
}

img {
  max-width: 100%; 
}

.btn {
  display: inline-block;
  font-weight: bold;
  padding: 10px 25px;
  cursor: pointer;
  color: $primaryColor;
  background: transparent;
//   border-radius: 5px;
  font-family: "Lato", sans-serif;
  
  &:hover {
    transform: scale(0.98);
    color: $secondaryColor;
    background-color: $primaryColor;
    border: 2px $primaryColor solid;
  }
}

.back {
  display: flex;
  color: $secondaryColor;
  
  svg {
    height: 25px;
    width: 25px;
  }
  
  h3 {
    margin-top: 1px;
    justify-content: end;
  }
}

.text-center {
  text-align: center;
}


.card {
  margin-top: 50px;
  background: #eee;
  padding: 3em;
  line-height: 1.5em;
}

/* Navbar */

.navbar {
  position: fixed;
  padding: 20px 0;
  color: $primaryColor;
  width: 100%;
  z-index: 100;
  transition: .3s ease;

  .flex {
    justify-content: space-between;
  }

  h1 {
    font-family: "Roboto", sans-serif;
  }

  /* ul {
  display: flex;
  gap: 30px;
} */
}

.burger {
  background: none;
  border: none;
  cursor: pointer;
  align-self: end;
}

.scroll-active {
    /* background-color: $primaryColor;
    color: $secondaryColor; */
  position: fixed;
  padding: 20px 0;
  background-color: $secondaryColor;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  width: 100%;
  z-index: 100;
}

.sidebar {
  /* display: none; */
  position: fixed;
  right: -50%;
  background: $primaryColor;
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  z-index: 101;
  transition: 800ms;
}

.sidebar-active {
  position: fixed;
  right: 0;
  background: $primaryColor;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  z-index: 101;
  transition: 350ms;

  a {
    color: $secondaryColor;
    font-size: 22px;

    &:hover {
        border-bottom: 2px solid $secondaryColor;
        padding-bottom: 2px;
      }
  }
}

.sidebar-out {
  display: none;
  transition: all .5s ease-in;
}

/* Hero */

.hero {
  height: 100vh;

  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
  }

  .grid {
    align-items: center;
  }

  p {
    margin: 20px 0;
  }
  
}

.hero-text {
  grid-area: b;
}

/* Products - Cards */

.products {
  margin: 50px 0;

  h1 {
    align-items: center;
  }

  .container {
    margin-top: 45px;
  }

  .flex {
    flex-wrap: wrap;
    overflow: visible;
    gap: 30px;
  }
}

.dark {
  font-weight: bold;
  padding: 10px 25px;
  cursor: pointer;
  color: $secondaryColor;
  background: $primaryColor;
  border: 2px solid $primaryColor;
//   border-radius: 5px;
  font-family: "Lato", sans-serif;
  margin-right: 5px;

  &:hover {
    background: rgb(0, 0, 0);
  }
}

/* .ui.cards > .card > .image { */
.products .cards .card .image {
  height: 250px;
  padding: 20px;
  background: $secondaryColor;
  margin: auto;
}

.products .cards .card .image img {
  height: 100%;
  max-width: 100%;
  width: auto;
}

.products .content .header {
  height: 48px;
  overflow: hidden;
  margin-bottom: 5px;
}

.products .cards .card .content .description {
  height: 36px;
  margin-bottom: 0px;
  overflow: hidden;
}

.products .cards .card .meta.price {
  margin-bottom: 5px;
  font-size: 18px;
  color: #333;
  font-weight: 600;
}

.products .cards .card .meta.price a {
  font-size: 1.3rem;
  color: $primaryColor;
}


/* Product */

.product {
  padding: 120px 0;

  .left {
    // border-radius: 5px;
    width: 80%;
  }

  .container {
    border: 2px solid #000;
    // border-radius: 5px;
    padding: 50px;
  }
}

/* Cart */

.cart {
  padding: 120px 0;

  .container {
    border: 2px solid #000;
    // border-radius: 5px;
    padding: 50px;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "a a a"
      "b b c"
  }
}

.cart-title {
  grid-area: a;

  h1 {
    font-size: 6vh;
  }
}

.cart-column {
  grid-area: b;
  align-self: start;
}

.precheckout {
  grid-area: c;
  align-self: start;
}

.summary {
  background-color: rgb(230, 230, 230);
//   border-radius: 5px;
  padding: 40px;
  margin-bottom: 50px;
  
  h2, h3, h5 {
    line-height: 0;
  }
}


.summary-row {
  line-height: 1px;
}

.payment {
  background-color: rgb(230, 230, 230);
//   border-radius: 5px;
  padding: 40px;
}

.cart-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
    "a b b d"
    "a c c d";

  .col1 {
    grid-area: a;
    width: 220px;
    height: 250px;
    /* background-color: red; */
  }
    
  .col2 {
    grid-area: b;
    width: 280px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: blue; */
  }
    
  .col3 {
    grid-area: c;
    width: 280px;
    height: 190px;
    display: flex;
    /* background-color: yellow; */
  }
    
  .col4 {
    grid-area: d;
    width: 150px;
    height: 270px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .btn {
      width: 30px;
      padding: 2px;
      text-align: center;
      border: none;

      svg {
        width: 2.5em;
      }

      &:hover {
        transform: none;
        background-color: transparent;
        color: $primaryColor;
        border: none;
      }
    }
  }
    
  .image {
    width: 220px;
    height: 250px;
    padding: 25px;
    
    img {
        height: 100%;
        width: 100%;
    }
  }
}

.qty {
  display: grid;
  height: 40px;

  .btn { 
    width: 5%;
    height: 80%;
    margin: 0 2px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.btn-b {
  border: 2px solid rgb(106, 106, 106);
  color: rgb(106, 106, 106);
}

.btn-qty {
  border: none;

  &:hover {
    transform: none;
    color: $primaryColor;
    background-color: transparent;
    border: none;
    cursor: auto;
  }
}

  /* Form */

.methods {
    div {
      display: flex;
      margin-bottom: 5px;
    }
    
    input {
      width: 20px;
      height: 20px;
      margin-right: 9px;
      margin-bottom: 5px;
    }
    
    h4 {
      margin-top: 0;
      font-weight: normal;
    }
}


.input {
  margin-top: 15px;

  input {
    border: 0;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
  }

  button {
    margin-top: 15px;
    width: 100%;
  }
}

.input .addr input  {
  height: 100px;
}

textarea {
  border: 0;
  resize: none;
  height: 50%;
  width: 100%;
  
  &:focus {
    outline: none;
  }
}

/* Checkout */

.checkout {
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    border: 2px solid $primaryColor;
    // border-radius: 20px;
    max-width: 600px;
    margin: 0 auto;
    padding: 70px 40px;
  }

  button {
    margin-top: 50px;
    color: white;
  }
} 

table th,
table td {
  font-size: 23px;
  text-align: left;
} 

/* Footer */

.footer {
  padding: 50px 0;
  background-color: rgb(30, 30, 30);
  color: $secondaryColor;
  justify-content: center;

  .flex {
    gap: 80px;
  }
}


/* Tablet */
@media all and (max-width: 1200px) {

  /* Navbar */


  
  /* Cart */

  .cart {
    .container {
        border: none;
    }
    
    .grid {
        grid-template-columns: 1fr;
        grid-template-areas:
            "a"
            "b"
            "c";
    }
  }

  .product .container {
    border: none;
  }

  .cart-title {
    grid-area: a;
  }
  
  .cart-column {
    grid-area: b;
    align-self: start;
  }
  
  .precheckout {
    grid-area: c;
    align-self: start;
  }

}

/* Mobile */
@media all and (max-width: 700px) {
  
  .grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "a"
      "b";
  }

  /* Navbar */

  .sidebar-active {
    width: 40%;

    &:a {
      font-size: 100%;
    }
  }
  
  /* Hero */
  
  .hero .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "a b b";
  }

  .hero-text {
    grid-area: b;
  }
  
  .hero p {
    margin: 20px 0;
  }

  /* Product */

  .product .left {
    width: 100%;
  }

  .product .container {
    border: none;
    // border-radius: 5px;
    padding: 80px;
  }
  
  /* Cart */

  .cart .container {
    /* border: 2px solid #000; */
    // /* border-radius: 5px; */
    width: 100%;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
  }

  .cart-title h1 {
    font-size: 5.5vh;
  }

  .cart-column {
    align-self: center;
  }
  
  .cart-item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
      "a"
      "b"
      "c"
      "d";
  }

  .back-btn {
    display: none;
  }
  
  .cart-item .image {
      width: 100%;
      padding: 20px 40px;
  }

  .cart-item .col2 {
    text-align: center;
  }

  .cart-item .col3 {
    height: 50px;
    justify-content: center;
  }
  
  .cart-item .col4 {
    width: 100%;
    height: 50px;
    justify-content: space-evenly;
  }

  .precheckout {
    align-self: center;
  }

  .payment {
    padding: 0;
  }

  .payment-row {
    padding: 30px;
  }

  /* Checkout */

  .checkout {
    height: 130vh;
  }

  .checkout .container {
    width: 80%;
    margin-bottom: 100px;
  }

  /* Footer */
  
  .footer .flex {
    flex-direction: column-reverse;
    gap: 50px;
    align-items: start;
  }

  /* .copyright {
    width: 50%;
  } */

}





